@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';

}

:root {

    --body-background: rgb(24, 24, 24);

}

body {

    min-height: 100vh;
    min-width: 100%;
    background-color: #203429;
    color: white;

}

/* NAVBAR SECTION */
nav { 

    height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111d16;
    backdrop-filter: blur(10px);
    z-index: 1000;
  
}

nav .logo-image {

    height: 3.5rem;
    width: 3.5rem;

}

nav h1 {

    position: absolute;
    top: 0;
    margin-top: 20px;
    margin-left: 4em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    
}

nav .log-out-button {

    font-family: inherit;
    color: white;
    background: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.3em 1.3em;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    
}

.log-out-button:before {

    content: "";
    position: absolute;
    z-index: -1;
    background: #588157;
    height: 150px;
    width: 200px;
    border-radius: 50%;

}

.log-out-button:hover {

    color: white;
    
}

.log-out-button:before {

    top: 100%;
    left: 100%;
    transition: all 0.7s;

}

.log-out-button:hover:before {

    top: -30px;
    left: -30px;

}

.log-out-button:active:before {

    background: #588157;
    transition: background 0s;

}

#subjects .header {

    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 2em;
    margin-bottom: 0.5em;

}

#subjects .subjects-container {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2em;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    margin-left: 3em;
    margin-top: 5em;
    
}

.subjects-container .box {

    width: 15vw;
    height: 50vh;
    border: 3px solid #111d16;
    color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2em;
    gap: 1em;
    text-align: center;
    transition: 0.3s ease-in-out;
    text-wrap: wrap;
    z-index: 1;
    position: relative;
    text-align: left;

}

.box h1 {

    font-size: 1.5em;

}

.box p {   

    font-size: 0.9em;
    line-height: 1.6;

}

.box:before {

    content: "";
    position: absolute;
    z-index: -1;
    background: #588157;
    height: 100vh;
    width: 100vw;
    border-radius: 50%;

}

.box:hover {

    border: 3px solid #58bc82;

}

.box:before {

    top: 100%;
    left: 100%;
    transition: all 0.7s;

}

.box:hover:before {

    top: -30px;
    left: -30px;

}

.box:active:before {

    background: #588157;
    transition: background 0s;

}

.upload-button-subjects {

    padding: 0.6em 0.6em;
    font-size: 12px;
    width: 8vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: black;
    background-color: #588157;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 2px 15px rgba(17, 29, 22, 1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 2em;
    right: 2em;



}

.upload-button-subjects:hover {

    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-7px);

}

.upload-button-subjects:after {

    transform: translateY(-1px);

}

::-webkit-scrollbar {

    display: none;

}